:root {
    --red: #D0021B;
    --white: #F5F5F5;
    --lightGrey: #AEAEAE;
    --darkGray: #9A9A9A;
    --lightGreen: #00BF80;
    --textSize: 14px;
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}



header {
    align-items: center;
    background-color: var(--red);
    display: flex;
    height: 50px;
    padding-left: 30px;
}

header #car-id {
    color: var(--white);
    font-size: 20px;
    margin-top: 5px;
}

body {
    overflow: hidden;
}

main {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

main #left {
    background-color: var(--white);
    max-width: 20vw;
    width: 20vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

main #right {
    height: 93vh;
    max-width: 80vw;
    width: 80vw;
}

#side-nav {
    display: flex;
    justify-content: center;
    max-width: 20vw;
    padding: 15px;
}

#cam-switches-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    max-width: 20vw;
}

#cam-switches-container .cam-switch {
    align-items: center;
    border: none;
    border-radius: 15px;
    color: var(--white);
    display: flex;
    font-size: var(--textSize);
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    width: 18vw;
}

#cam-switches-container #cam-switch-on {
    background-color: var(--lightGreen);

}

#cam-switches-container #cam-switch-off {
    background-color: var(--lightGrey);

}

#right {
    display: flex;
    justify-content: center;
}

#right #cam-container {
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    justify-content: center;
}

#cam-container .cam-outline {
    height: 25vh;
    width: 30vw;
}

.cam-outline .cam-feed {
    height: 25vh;
    position: relative;
}


.cam-outline #cam-feed-one {
    background-image: url("images/action.jpg");
    background-size: cover;
}

.cam-feed .cam-overlay {
    width: 30vw;
    height: 25vh;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cam-overlay .top-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.top-overlay .recording-status {
    background-color: var(--red);
    width: fit-content;
    color: var(--white);
    font-size: var(--textSize);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.top-overlay .actions {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cam-overlay .bottom-overlay {
    padding: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-overlay .recording-time {
    color: var(--white);
    font-size: var(--textSize);
}


.actions .battery-status {
    rotate: 270deg;
}



.actions .toggle,
.fullscreen {
    border: none;
    background-color: transparent;
    height: 24px
}


.cam-outline .cam-footer {
    align-items: center;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    font-size: var(--textSize);
    height: 5vh;
    justify-content: space-between;
}

.cam-footer .firefighter-info {
    display: flex;
}

.firefighter-info .role {
    padding-left: 15px;
    padding-right: 15px;
}

.cam-footer .footer-stripes {
    min-height: 5vh;
}